.intergration {
    width: 100%;

    // .appItem {
    //     .setting {
    //         display: flex;
    //     }

    //     &:hover {
    //         .setting {
    //             display: flex;
    //         }
    //     }
    // }

    .lineClamp3 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        white-space: normal;
    }

    :global {
        .ant-segmented {
            .ant-segmented-item {
                margin-right: 8px;
            }

            background: transparent;
            color: var(--color-text-1);

            .ant-segmented-item-selected {
                color: var(--color-primary);
            }
        }
    }
}